<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Accounts:</strong>
  <% @accounts.each do |account| %>
    <tr>
      <td>
      <p>
        <strong>Amount:</strong>
        <%= account.amount %>
        <strong>Currency:</strong>
        <%= account.currency %>
      </p>
    </td>
      <td><%= link_to 'Show', account %></td>
    </tr>
  <% end %>
</p>

<%= link_to 'Back', users_path %>
