<p id="notice"><%= notice %></p>

<p>
  <strong>Account:</strong>
  <%= @transaction.account.currency %>
</p>

<p>
  <strong>Type:</strong>
  <%= @transaction.kind %>
</p>

<p>
  <strong>Sum:</strong>
  <%= @transaction.sum %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
