<p id="notice"><%= notice %></p>
<p>
  <strong>User:</strong>
  <%= @account.user.name %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @account.currency %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @account.amount %>
</p>
<p>
  <strong>Transactions:</strong>
  <% @transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.account.currency %></td>
      <td><%= transaction.kind %></td>
      <td><%= transaction.sum %></td>
      <td><%= link_to 'Show', transaction %></td>
    </tr>
  <% end %>
</p>

<%= link_to 'Back', accounts_path %>
